// Variables
$bg: white;
$mainColor: #666666;
$topbarBg: #323a45;
$topbarColor: #999;
$logoBlue: #424c55;
$navColor: #010101;
$hoverColor: #3bc4fa;
$phoneRed: #ff5c5d;
$mainFont: 'Karla', sans-serif;
$navFont: 'Lora', serif;
$headingFont: 'Playfair Display', serif;

$bookingGrey: #49515c;
$placeholderGrey: #9daabb;

$featureBlue: #313946;

$headingColor: #151f29;